{% extends 'base.html.twig' %}

{% block title %}
    Connexion - {{parent()}}
{% endblock %}

{% block body %}
<div class="login">
    <div class="form">
        <form method="post" class="login-form">

        {# IF ERROR #}
        {# {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %} #}

            <i class="fas fa-user-circle"></i>
            {# EMAIL #}
            <input type="email" class="user-input" value="" name="email" id="inputEmail" placeholder="E-Mail" autocomplete="email" required>

            {# PASSWORD #}
            <input type="password" class="user-input" name="password" id="inputPassword" placeholder="Mot de passe" autocomplete="current-password" required>

             {# CSRF TOKEN #}
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <div class="options-01 checkbox">
                <label class="remember-me">
                    <input type="checkbox" name="_remember_me">Se souvenir de moi
                </label>
                <a href="">Mot de passe oublié?</a>
            </div>

            <input type="submit" class="btn" value="Login">
            <div class="options-02">
                <p>
                    Pas de compte? <a href="#">Inscrivez-vous...</a>
                </p>
            </div>
        </form>

        {{ form_start(registrationForm, {'attr': {'class': 'signup-form'}}) }}

            <i class="fas fa-user-plus"></i>
            {{ form_widget(registrationForm.fullname) }}
            {{ form_widget(registrationForm.email) }}
            {{ form_widget(registrationForm.plainPassword.first) }}
            {{ form_widget(registrationForm.plainPassword.second) }}
            {{ form_row(registrationForm.submit) }}
            <div class="options-02">
                <p>
                    Déjà enregistré? <a href="#">Se connecter</a>
                </p>
            </div>
        {{ form_end(registrationForm) }}

    </div>
</div>

{{ encore_entry_script_tags('login') }}
{% endblock %}